<p>
  list works!
</p>

<p *ngIf="!lists"><em>Loading...</em></p>

<table class='table' *ngIf="lists">
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>tasks</th>
      <th>Commands</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let list of lists">
      <td>{{ list.id }}</td>
      <td>{{ list.name }}</td>
      <ng-container *ngFor="let task of taskss">
        <ul *ngIf="task.listid == list.id">{{task.desc}}</ul>
      </ng-container>
    </tr>
  </tbody>
</table>

<div>
  <label>
    List id:
    <input #listId />
  </label>
  <label>
    List name:
    <input #listName />
  </label>
  <button (click)="add(listId.value,listName.value); listName.value=''">
    add
  </button>
</div>
